<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
   window.images = {
     profile_icon: "<%= asset_path('profile_icon.png')%>",
     party_pic: "<%= asset_path('party_pic.png')%>"
   }
 </script>

<main id="root"></main>
