.error-message1 {
  position: absolute;
  // top: 49%;
  transform: translate(0%, -57%);

  // background: #eeeeee;
  // background: #3659E3;
  // background: clear;
  border-radius: 10px;
  width: 290px;
  height: 70px;
  padding-top: 50px;
  font-size: 15px;
  margin-bottom: 100px;
  color:red;
  font-weight: 600;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  display: none;
  opacity: 1;
  transition: 1s;
  text-align: center;
}

.error-message2 {
  display: block;
  opacity: 1;
}

.hide-blur{
overflow: hidden;
height: 500px;
min-width: 1200px
}
.hide-blur-2{
overflow: hidden;
height: 650px;
background-color: rgb(247,247,247);
min-width: 1200px

}
.event-show-blurr-pic{
  width: 100%;
  height: 500px;
  // background-image: image-url("generic_event");
  // background-repeat: no-repeat;
  // background-size: cover;
  filter: blur(45px);
}




.event-info-header{
  display: flex;
}

.event-header-pic{
  height: 360px;
  width: 70%;
  object-fit: cover;
  // background-image: image-url("generic_event");
  // background-repeat:no-repeat;
  // background-size: cover;
}
.hella-test{
  width: 27%;
  padding-right: 15px;
}
.event-title-date{
  height: 360px;
  width: 30%;
  background-color: rgb(238, 238,238);
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.event-show-bar{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(219,218,227)
}

.left-over{
  width: 100%;
  display: flex;
}

.month-day-padding{
  padding-top: 30px;
  padding-left: 30px;
}
.listing-month{
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.listing-day{
  font-size: 17px;
  font-weight: normal;
  line-height: 1.25em;
  letter-spacing: 1px;
  margin-top: 5px;
}

.listing-title{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 16px;
  font-weight:600;
  height:42px;
  letter-spacing:0.5px;
  line-height:21px;
}

.listing-creator{
  color:rgb(111, 114, 135);
  cursor:pointer;
  font-size:15px;
  font-weight:400;
  letter-spacing:0.5px;
  line-height:21px;
  padding-left: 30px;
}
.listing-price{
  color:rgb(57, 54, 79);
  display:block;
  font-family:"Neue Plak", -apple-system, system-ui, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:21px;
  letter-spacing:0.5px;
  line-height:21px;
  padding-top: 150px;
  padding-left: 30px;
}

.session-submit {
  right: 0px;
  background-color: green;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  color: white;
  text-align: center;
  margin-right: 15px;
}

.liked-heart-show{
  visibility: visible;
  background-image:image-url("liked");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding-left: 60px;
}
.liked-heart-show:hover{
  cursor: pointer;
}

.heart-show{
  visibility: show;
  // background-image:image-url("unliked");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding-left: 60px;
}
// .heart-show:hover{
//   cursor: pointer;
// }

.event-show-desc{
  width: 750px;

  text-align: center;
  padding-top: 50px;
  width: 1750px;
  text-align: left;
  padding-left: 40px;
}

.event-show-date-time-loc{
  width: 70%;

  padding-top: 50px;
  text-align: center;
}

.event-show-desc-titles{
  color:rgb(30, 10, 60);
  display:block;
  font-family:"Neue Plak", -apple-system, system-ui, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size:12px;
  font-weight:600;
  height:16px;
  letter-spacing:0.5px;
  line-height:16px;
}

.event-show-desc-words{
  color:rgb(111, 114, 135);
  display:inline;
  font-family:"Neue Plak", -apple-system, system-ui, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:auto;
  letter-spacing:0.5px;
  line-height:21px;
}
.event-show-desc-dl-words-np{
  color:rgb(57, 54, 79);
  display:block;
  font-family:"Neue Plak", -apple-system, system-ui, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:21px;
  letter-spacing:0.5px;
  line-height:21px;
}
.event-show-desc-dl-words{
  color:rgb(57, 54, 79);
  display:block;
  font-family:"Neue Plak", -apple-system, system-ui, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size:15px;
  font-weight:400;
  height:21px;
  letter-spacing:0.5px;
  line-height:21px;
  padding-bottom: 60px;

}

.event-show-map{
  height: 404px;
}

.parent-container-show{
  position: relative;
}
.parent-container-overlay{
  position: absolute;
  top:43px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
}

.event-info{
  top: 100px;
  margin: 0 auto;
  max-width: 1080px;
  min-width: 1080px;
  height: 850px;
  // transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 0px 1px 0px #88888882;

}
