header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeedf2;
}

header > .nav {
  display: flex;
  justify-content: space-around;
}

header > .nav li {
  padding: 22px 20px 20px 20px;
  color: #6f7287;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  font-weight: lighter;
  font-size: 14px;
  list-style-type: none;
}

header > .nav li:hover {
  color: #000;
}

header > .logo {
  font-size: 22px;
  color: #d1410c;
  font-weight: 599;
  padding: 22px 20px 20px 20px;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

  .header-name {
  padding-top: 5px;
  font-size: 20px;
  color: black;
}

header > nav li .header-button {
  text-align: center;
  background-color: #f05537;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  height: 25px;
}
.header-button:hover {
  background-color: #d6472b;
}

.Create-event{
  text-decoration: none;
  color: rgb(61,100,255);
  font-weight: 500;
}
