
.parent{
  height: 88.5vh;
  width: 100%;
  box-sizing: border-box;

  background-image: url("party_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  text-align: center;
  color: white;
}

.words-over-pic {
  position: absolute;
  display: inline;
  top: 35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 7vmax;
  font-style: oblique;
  font-weight: bolder;
  color: white;
}
