
.login-form-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.signup-logo{
  text-align: center;
  color: #f05537;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 10px;
   font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.signup-text{
  text-align: center;
  line-height: 1.2;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  font-size: 1.44rem;
  font-weight: 500;
}

.prompt{
  text-align: center;
  padding-left: 10px;
  color: #6f7287;
  font-size: 1rem;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  line-height: 1.4;
  font-weight: 400;
}

.login-form {
  width: 400px;
}

.login-form-container input {
  height: 40px;
  border: 1px solid rgb(219,218,227);
  padding: 1px;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 10px;
}


.login-form-container input[type="text"], input[type="password"]{
  padding-left: 10px;
  font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;

}
.login-form-container input[type="text"]:focus, input[type="password"]:focus{
  border: 2px solid rgb(61,100,255);
}

.login-form-container input[type="submit"]{
  text-align: center;
  padding: 0px 5px;
  background-color: #f05537;
  border-radius: 5px;
  color: white;
  height: 40px;
  font-weight: 500;
}

.login-form-container input[type="submit"]:hover {
  background-color: #d6472b;
}

.link-class {
  text-decoration: underline;
}
.link-class:hover {
  color: #A9A9A9;
}



/* .login-input {
  outline: 1px solid grey;
  height: 30px;
  width: 100%;
  padding-left: 10px;
} */

/* .login-form-container {
  display: flex;
  justify-content: center;
}


.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form input {

  box-sizing: border-box;
}
.session-submit {
  text-transform: capitalize;
  background-color: #f05537;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  color: white;
  padding-left: 10px;
}

.login-input {
  outline: 1px solid grey;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}


.signup-logo{
  display: flex;
  justify-content: center;
  font-size: 90px;
  color: #f05537;
  font-weight: 800;
}
.signup-text{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 800;
}
.prompt{
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 15px;
  font-weight: 800;
}


.session-submit:hover {
  background-color: #d6472b;
} */
