
.login-form-container {
  margin: 0 auto;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.signup-logo{
  text-align: center;
  color: #f05537;
  font-size: 90px;
  font-weight: 800;
  margin-bottom: 10px;
}

.signup-text{
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.prompt{
  text-align: center;
  padding-left: 10px;
  color: gray;
  font-size: 15px;
  font-weight: 800;
}

.login-form {
  width: 100%
}

.login-form-container input {
  height: 30px;
  border: 1px solid grey;
  padding: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.login-form-container input[type="text"], input[type="password"]{
  padding-left: 10px;
}
.login-form-container input[type="submit"]{
  text-align: center;
  padding: 0px 5px;
  background-color: #f05537;
  color: white;
  height: 40px;
  font-weight: 500;
}

.login-form-container input[type="submit"]:hover {
  background-color: #d6472b;
} */

.link-class {
  text-decoration: underline;
}
.link-class:hover {
  color: #A9A9A9
}


/* .login-input {
  outline: 1px solid grey;
  height: 30px;
  width: 100%;
  padding-left: 10px;
} */

/* .login-form-container {
  display: flex;
  justify-content: center;
}


.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form input {

  box-sizing: border-box;
}
.session-submit {
  text-transform: capitalize;
  background-color: #f05537;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  color: white;
  padding-left: 10px;
}

.login-input {
  outline: 1px solid grey;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}


.signup-logo{
  display: flex;
  justify-content: center;
  font-size: 90px;
  color: #f05537;
  font-weight: 800;
}
.signup-text{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 800;
}
.prompt{
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 15px;
  font-weight: 800;
}


.session-submit:hover {
  background-color: #d6472b;
} */
